h1 {
    color: green;
}

/* Pour les écrans à partir de la taille minimum est 824px, je modifie le css */
@media screen and (min-width: 824px){
    h1{
        color: blue;
        font-size: 3rem;
        text-align: center;
    }
}

/* Pour les écrans à partir de la taille minimum est 674px, je passe en display flex pour aligner chaque card les une à côté des autres */
@media screen and (min-width: 674px){
    /* mettre le display: flex, sur le parent de card*/
    .cards{
        display: flex;
        justify-content: space-around; /* espace entre tous sur l'axe horizontal */
    }
}