h1 {
    color: green;
}

/* Pour les écrans dont la taille minimum est 824px */
@media screen and (min-width: 824px){
    h1{
        color: blue;
        font-size: 3rem;
        text-align: center;
    }
}